*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'champions';
    src: url(Medias/Champions-Bold.ttf);
}
header{
    height: 12vh;
    background-color: rgb(181, 190, 216);
    /* background-color: red; */
    padding: 5px;
    scroll-snap-align: center;
}
header img{
    height: 10vh;
    display: block;
    margin: auto;
}

nav{
    height: 14vh;
    background-color: #0a1b51;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    scroll-snap-align: top;
}
nav img{
    height: 1vw;
}

.match{
    font-family: 'champions';
    color: rgba(255, 255, 255, 0.74);
    transition: transform 0.5s ease;
    font-size: 1.05vw;
    border-right: 1px rgba(255, 255, 255, 0.71) solid;
    border-left: 1px rgba(255, 255, 255, 0.71) solid;
    padding: 0 1vw 0 1vw;
}

.match:hover{
    transform: scale(1.2);
}

.match span{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    /* text-decoration: underline;
    margin: 0px 10px 0px 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(255, 255, 255, 0.361); */
    transition: text-decoration,text-decoration-thickness 0.5s ease;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.match span:hover{
    line-height: 3px;
    text-decoration: underline;
    text-decoration-color: #33EFFF;
    text-decoration-thickness: 3px;
}

.accueil{
    height: 74vh;
}

.accueil section{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll{
    position: absolute;
    top: 70%;
    left: 80%;
    display: flex;
    align-items: center;
    color: white;
}

.scroll img{
    height: 100px;
}

.scroll span{
    font-family: 'champions';
}

h1{
    font-family: 'champions';
    font-size: 60px;
    letter-spacing: 12px;
    color: white;
}

h2{
    font-family: 'champions';
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

.main{
    background-image: url('Medias/Groupe\ 6.png');
    background-attachment: fixed;
    background-size: cover;
}

.affiche{
    height: 100vh;
    margin: 0 250px 0 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: center;
}

.affiche img{
    width: 5vw;
    margin: 0 20px 0 20px;
}

.info{
    font-size: 80%;
}

.info span:nth-child(1){
    font-size: 120%;
}

.affiche span{
    font-size: 2vw;
    font-family: 'champions';
    color: white;
    opacity: 0;
}

.info{
    color: white;
    font-family: 'champions';
    text-align: center;
    
}
.trait{
    width:  100%;
    height: 5px;
    border-radius: 2.5px;
    background-color: #33EFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 10px;
}
.info span{
    font-size: 1vw;
    opacity: 0;
}

.gauche{
    position: absolute;
    left: 1vw;
}

.droite{
    position: absolute;
    right: 1vw;
}

.joueur img{
    width: 20vw;
    opacity: 0;
}


@keyframes apparition-joueurs-haut{
    from{
        transform: translateY(-300px);
        opacity: 0;
        /* width: 0px; */
    }
    to{
        transform: translateY(0px);
        opacity: 1;
        /* width: 200px; */
    }
}

@keyframes apparition-joueurs-bas{
    from{
        transform: translateY(300px);
        opacity: 0;
        /* width: 0px; */
    }
    to{
        transform: translateY(0px);
        opacity: 1;
        /* width: 200px; */
    }
}

@keyframes apparition-nomEkip{
    from{
        font-size: 0;
        opacity: 0;
    }
    to{
        font-size: 1.6vw;
        opacity: 1;
    }
}

@keyframes apparition-infos{
    from{
        font-size: 0;
        opacity: 0;
    }
    to{
        font-size: 1vw;
        opacity: 1;
    }
}


